body {
  font-family: 'open sans', sans-serif;
  font-weight: 400;
}

/*TOP CONTAINER*/

.top-section {
  background-color: #fdeee6;
}

h1 {
  margin-bottom: .75em;
  padding-top: .75em;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3em;
}

.to-do {
  color: #f27935;
}

.box {
  color: #6D6E71;
}

.search-input,
.task-input,
.detail-input {
  border: 1px solid #d1d3d4;
  height: 1.2em;
  padding: .1em 0 .1em 0;
  font-size: 1.5em;
  color: #6D6E71;
}

.task-input,
.detail-input,
.save-btn {
  display: block;
  margin: auto;
  margin-bottom: 1em;
  width: 66%;
  font-family: 'Open Sans', sans-serif;
}

.filter-importance {
  border: 1px solid #d1d3d4;
  height: 2em;
  padding: .1em 0 .1em 0;
  width: 11.5em;
  font-size: 1.2em;
  color: #6D6E71;
}

.search-input {
  display: block;
  margin: auto;
  margin-bottom: 1em;
  width: 15em;
  font-family: 'Open Sans', sans-serif;
}

.search-section {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
  width: 66%;
}

.input-fields {
  padding-bottom: .15em;
}

.task-input:focus,
.detail-input:focus,
.save-btn:focus,
.search-input:focus {
  outline-color: #f27935;
  outline-style: auto;
}

.save-btn {
  border: 1px solid #d1d3d4;
  font-size: 1.25em;
  height: 1.6em;
  margin-bottom: 1.5em;
  background-color: #f27935;
  color: #fff;
}

.save-btn:hover {
  background-color: #D46A2E;
}

.save-btn:disabled {
  background-color: #D1D3D4;
}

.center-search {
  display: flex;
  justify-content: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: .5em;
  padding-top: .75em;
  color: #d1d3d4;
  font-size: 0.85em;
}

::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  padding-left: .75em;
  padding-top: .75em;
  color: #d1d3d4;
  font-size: .5em;
}

/*CARD CONTAINER*/

.to-do-card {
  border-bottom: 1px solid #D1D3D4;
  margin: auto;
  margin-top: 0.5em;
  width: 66%;
}

h2 {
  display: inline-block;
  font-size: 1.5em;
  font-family: 'roboto slab', sans-serif;
  margin: .25em 0 1em 0;
  color: #6D6E71;
}

p {
  line-height: 140%;
  margin-bottom: 25px;
}

.body {
  text-align: left;
}

.detail-text {
  margin: .25em 0 1.25em 0;
  color: #939598;
}

.delete-btn {
  display: inline-block;
  float: right;
  height: 1.5em;
  width: 1.5em;
  background-image: url(ideabox-assets/delete.svg)
}

.importance {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 1.2em;
  color: #6D6E71;
  font-family: 'Roboto Slab', sans-serif;
  letter-spacing: .04em;
}

.upvote-btn,
.downvote-btn,
.importance {
  display: inline-block;
}

.ratings {
  align-content: center;
  display: flex;
  margin: .25em 0 01em 0;
  width: 100%;
}

.completed-task-btn {
  height: 1.33em;
  margin-left: auto;
  margin-right: 0.75em;
  margin-top: 0.075em;
  width: 1.33em;
  background-image: url(ideabox-assets/success.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.completed-task-btn:hover {
  background-image: url(ideabox-assets/success-hover.svg);
}

.complete-delete-container {
  align-content: center;
  display: flex;
  float: right;
  justify-content: center;
  margin: .25em 0 1em 0;o
  width: 4em;
}

.grayout {
  opacity: 0.4;
}

#delete,
#upvote,
#downvote {
  height: 1.5em;
  width: 1.5em;
  background-repeat: no-repeat;
}

#delete:hover {
  background-image: url(ideabox-assets/delete-hover.svg);
}

#upvote {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  background-image: url(ideabox-assets/upvote.svg)
}

#upvote:hover {
  background-image: url(ideabox-assets/upvote-hover.svg)
}

#downvote {
  display: inline-block;
  height: 1.5em;
  margin-left: .75em;
  width: 1.5em;
  background-image: url(ideabox-assets/downvote.svg)
}

#downvote:hover {
  background-image: url(ideabox-assets/downvote-hover.svg)
}

/*SHOW MORE*/
.show-more-section {
  align-items: center;
  display: flex;
  justify-content: center;
}

.show-btn {
  border: none;
  height: 40px;
  margin: 20px 0 20px 0;
  width: 150px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 115%;
  background-color: #f27935;
  outline-color: #f27935;
}

#show-less {
  display: none;
}

/*MEDIA QUERIES*/
@media (max-width: 900px){

  .center-search {
    display: flex;
  }

  .search-section {
    display: flex;
    flex-direction: column;
  }

  label {
    margin: auto;
  }

}

@media (max-width: 450px) {
  .detail-input {
    padding-bottom: 4em;
    padding-top: 0;
  }

  .task-input,
  .detail-input,
  .save-btn.
  .search-input {
    margin-left: auto;
    width: 80%;
  }

  .to-do-card {
    width: 80%;
  }
}
