body {
  font-family: 'open sans', sans-serif;
  font-weight: 400;
}

/*TOP CONTAINER*/

.top-section {
  background-color: #fdeee6;
}

h1 {
  font-family: 'roboto slab', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3em;
  padding-top: .75em;
  margin-bottom: .75em;
}

.to-do {
  color: #f27935;
}

.box {
  color: #6D6E71;
}

.search-input,
.task-input,
.detail-input {
  border: 4px solid ##d1d3d4;
}

.task-input,
.detail-input,
.save-btn,
.search-input {
  width: 66%;
  display: block;
  margin: auto;
  margin-bottom: 1.75em;
  height: 3em;
}

.input-fields {
  padding-bottom: .15em;
}

.task-input:focus,
.detail-input:focus,
.save-btn:focus,
.search-input:focus {
  outline-style: auto;
  outline-color: #f27935;
}

.save-btn {
  background-color: #f27935;
  color: #fff;
  font-size: 1.25em;
  border: none;
  height: 2.5em;
}

.save-btn:hover {
  background-color: #D46A2E;
}

.save-btn:disabled {
  background-color: #D1D3D4;
}

.search-section {
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d1d3d4;
  padding-left: .5em;
  padding-top: .75em;
  font-size: 1.75em;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #d1d3d4;
  padding-left: .75em;
  font-size: .5em;
  padding-top: .75em;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #d1d3d4;
  padding-left: .75em;
  font-size: .5em;
  padding-top: .75em;
}

:-moz-placeholder { /* Firefox 18- */
  color: #d1d3d4;
  padding-left: .75em;
  font-size: .5em;
  padding-top: .75em;
}

/*CARD CONTAINER*/

.to-do-card {
  width: 66%;
  margin: auto;
}

h2 {
  font-size: 1.5em;
  font-family: 'roboto slab', sans-serif;
  display: inline-block;
  color: #6D6E71;
  margin: .25em 0 1em 0;
}

p {
  line-height: 140%;
  margin-bottom: 25px;
}

.body {
  text-align: left;
}

.body-text {
  color: #939598
  margin: .25em 0 1em 0;
}

.delete-btn {
  height: 1.5em;
  width: 1.5em;
  float: right;
  display: inline-block;
  background-image: url(ideabox-assets/delete.svg)
}

/*.quality-div {
  margin: 0 0 .25em .75em
}*/

.importance {
  color: #6D6E71;
  margin-left: 1.2em;
  display: inline-block;
  font-family: 'Roboto Slab', sans-serif;
  letter-spacing: .04em;
}

.upvote-btn,
.downvote-btn,
/*.quality-div,*/
.importance {
  display: inline-block;
}

.ratings {
   display: flex;
   align-content: center;
   margin: .25em 0 1em 0;
}

.completed-task-btn {
  margin-left: 385px;
}

.grayout {
  opacity: 0.4;
}

#delete,
#upvote,
#downvote {
  height: 1.5em;
  width: 1.5em;
}

#delete:hover {
  background-image: url(ideabox-assets/delete-hover.svg);
}

#upvote {
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    background-image: url(ideabox-assets/upvote.svg)
}

#upvote:hover {
  background-image: url(ideabox-assets/upvote-hover.svg)
}

#downvote {
  margin-left: .75em;
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  background-image: url(ideabox-assets/downvote.svg)
}

#downvote:hover {
  background-image: url(ideabox-assets/downvote-hover.svg)
}

hr {
  color:#D1D3D4;
  margin-top: .75em;
}

@media (max-width: 450px) {
  .detail-input {
    padding-top: 0;
    padding-bottom: 4em;
  }

  .task-input,
  .detail-input,
  .save-btn,
  .search-input {
    width: 80%;
    margin-left: auto;
  }
}
